mobilkit[complete]
geopandas
numpy
pandas
pyarrow
contextily
matplotlib
seaborn
pytz
statsmodels
dask
shapely
jupyter
ipykernel
unidecode
plotly
python-dotenv
folium
dask-geopandas
tqdm
scikit-mobility
# Development dependencies
isort
black #also black[jupyter] for notebooks